<!DOCTYPE html>
<html>
<head>
  <title>Froala Design Blocks - Footers</title>
  <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0" />

  <script src="http://localhost:35729/livereload.js"></script>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">

  <link type="text/css" rel="stylesheet" href="../public/css/froala_blocks.css">

  <style>
    .fdb-block {
      border-bottom: solid 1px #EEE;
    }
  </style>
</head>
<body>
<footer class="fdb-block footer-small">
    <div class="container">
      <div class="row text-center">
        <div class="col">
        <p align="right"><p><a  style="padding: 0 8px 0 5px; border-right: 0.5px solid #7f7f7f;" href="http://localhost/tistros/public/about">About us</a>
<a  style="padding: 0 8px 0 5px; border-right: 0.5px solid #7f7f7f;" href="http://localhost/tistros/public/testimonials">Testimonials</a>
<a  style="padding: 0 8px 0 5px; border-right: 0.5px solid #7f7f7f;" href="http://localhost/tistros/public/contact">Contact us</a>
<a style="padding: 0 8px 0 5px solid #7f7f7f;" href="http://localhost/tistros/public/downloads">Downloads</a></p>
         © Tistro Website 2017
          Contact us on:<p>
          Email:wessel@code-etal.tech<p>
          call:+27 (0) 11 447 1550<p>
         Address: 2 Selbourne Rd, Fourways, Sandton
      </div>
      </div>
    </div>
  </footer>
</body>
</html>