<!DOCTYPE html>
<html>
<head>
<title>Forgot Password</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<script src="http://localhost:35729/livereload.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
<link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
<link type="text/css" rel="stylesheet" href="../public/css/froala_blocks.css">
<style>
.fdb-block {
border-bottom: solid 1px #EEE;
    }
</style>
{% include '_layouts/header1.twig'%}
</head>


  <body>
  <section class="fdb-block" style="background-image: url(../public/imgs/bg_0.svg)">
  <div class="container">
  <div class="row-100">
  <div class="col text-center">
  <div class="fdb-box fdb-touch">
  <h1 class=" fa fa-unlock-alt ">Forgot Password</h1>
  </div>
  </div>
  <div class="row-70"></div>
  <div class="row justify-content-center">
  <div class="col-12 col-md-8 col-lg-7 col-xl-5 text-center">
  </div>
  <div class="row-100"></div>
  </div>
  </div>
  <div class="container">
  <div class="fdb-box fdb-touch">
  <div class="row-100"> </div>   
  <div class="row">
  <div class="col text-center">
 
  <form method="post" accept-charset="UTF-8">
  {{ getCsrfInput() }}
  <input type="hidden" name="action" value="users/sendPasswordResetEmail">
  <input type="hidden" name="redirect" value="success">
  <h3><p align="center">Please enter your details to resert into your account</p></h3> </div>
  </div>
  <h3><label for="loginName">Email</label></h3>
  <input type="text" id="loginName"  name="loginName"  class="form-control"  placeholder="Please enter your email/Username!"
  value="{% if loginName is defined %}{{ loginName }}{% else %}{{ craft.session.rememberedUsername }}{% endif %}">
  {% if errors is defined %}
  <ul class="errors">
  {% for error in errors %}
  <li>{{ error }}</li>
  {% endfor %}
  </ul>
  {% endif %}
  <br> 
  <input type="submit" value="Forgot Password" button class="btn mt-4"  >
  </br>
  </form>
  </section>
   


<footer>
{% include '_layouts/footer.twig' %}</footer>
</body>
<html>