<!DOCTYPE html>
<html>
<head>
  <title>Froala Design Blocks - Headers</title>
  <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0" />

  <script src="http://localhost:35729/livereload.js"></script>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">

  <link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">

  <link type="text/css" rel="stylesheet" href="../public/css/froala_blocks.css">

  <style>
    .fdb-block {
      border-bottom: solid 1px #EEE;
    }



.dropdown .dropbtn {  
    outline: solid;
    color: white;
    min-width: 160px;
     min-height: 35px;
background-color:white;
      color:blue;
padding:5px;
 margin-left: 30px;
 

}

.navbar a:hover, .dropdown:hover .dropbtn {
    background-color: white;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
     margin-left: 30px;
     outline:solid-blue;
    
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}
  </style>

 


  <header>
    <div class="container">
      <nav class="navbar navbar-expand-md">
     <a class="navbar-brand" href="https://www.froala.com">
        <img src="../public/logo.png" height="30" alt="image">
        </a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav3" aria-controls="navbarNav3" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav3">
 <ul class="navbar-nav ml-auto  justify-content-end d-none d-lg-flex">
<li class="nav-item active">
              <a class="btn btn-empty ml-md-3" href="http://localhost/tistros/public/home">Home <span class="sr-only">(current)</span></a>
            </li>
 
 <li class="nav-item">
              <a class="btn btn-empty ml-md-3 " href="http://localhost/tistros/public/about ">About</a>
            </li>

<li class="nav-item">
              <a class="btn btn-empty ml-md-3" href="http://localhost/tistros/public/contact-us">Contact Us</a>
            </li>
             
<li class="nav-item">
              <a class="btn btn-empty ml-md-3" href="http://localhost/tistros/public/downloads">Downloads</a>
            </li> 
      
 </ul>
</div>
    <div class="dropdown">
    <button class="dropbtn">SignIN/SignOUT</button>
      <div class="dropdown-content">
      <a href="http://localhost/tistros/public/register">SignUP</a>
      <a href="http://localhost/tistros/public/LOGIN">SignIN</a>
      <a href="http://localhost/tistros/public/logout">SignOUT</a>
    </div>
   </div>
      </nav>
    </div>
  </header>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
</body>
</html>
