
<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Home</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Cabin:700' rel='stylesheet' type='text/css'>

    <!-- Custom styles for this template -->
    <link href="css/grayscale.min.css" rel="stylesheet">

{% include '_layouts/header1.twig'%}
  </head>
<!-- Intro Header -->
    <header class="masthead">
      <div class="intro-body">
        <div class="container">
          <div class="row">
            <div class="col-lg-8 mx-auto">
              <h1 class="brand-heading">Tistro</h1>
              <p class="intro-text">Tistro™ delivers enterprise wide productivity reporting. 
                <br>Tistro™ was founded to address the needs of business to truly understand the productivity & behavior within their user base, automating time management.</p>
             
              </a>
            </div>
          </div>
        </div>
      </div>
    </header>

<body>
{% include '_layouts/slides.twig'%}
</body>

<footer>
{% include '_layouts/footer.twig'%}
</footer>

</html>
